body{background-color: #E9E9e9;padding-top: 60px;-webkit-font-smoothing: antialiased;}

#pager-cx{padding: 0 10px;}
#article-content .content-warp{background-color: #fff;margin-bottom: 10px;box-shadow: 0 0 2px rgba(0,0,0,0.2);padding: 20px;text-align: center;}
.list-top{height: 30px;}
.list-top .btn{background-color:#fff;border: 1px solid #ccc;}
.list-top .btn .glyphicon-heart{color: #f15151;margin-right: 3px;}
.list-top .btn .badge{margin-left: 3px;}
.list-top h4{margin: 0;line-height: 30px;}
.list-top h4 a{color: #555;text-decoration: underline;}
.list-body img{width:100%;}
.list-body p{    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
     -webkit-text-orientation: upright;
    margin: 0 auto;
    height: 180px;
    font-size: 18px;
    padding-bottom: 10px;
}
#comment{background-color: #fff;
padding: 15px;}
#comment .area{width: 100%;
        outline: none;

    height: 145px;
    resize: none;
    background:#fff;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    color: #808080;
    padding: 12px 0 0 15px;
    box-shadow: 0px 0px 3px 0px #555 inset;
}
.img-wrap{width: 50px;height: 50px;margin-right: 20px;}
.review{padding-top: 50px;}
#comment img{width: 100%;height: 100%}
